/* reponsive media query csss */
@media (min-width: 320px) and (max-width:479px)
 {
   /*.mash-menu .mash-brand, .mash-menu .mash-list-items {
    padding-top: 25px;
  }*/ 
  .demo
  {
    display:none;
  }
  .navbar {
    margin-bottom:0px !important;
  }
.span_1_of_8 img {
    width: 51px;
}
.price_tagged {
    top: 19px;
    right: 6px;
    height: 30px;
    width: 30px;
    }
.price_tagged p {
    font-size: 9px;
    line-height: 10px;
    padding: 3px;
}
img.user_profile
{
  width:50px;
}
.user_form{
    margin:10px;
}
}
@media (min-width: 480px) and (max-width:599px)
 {
/*.mash-menu .mash-brand, .mash-menu .mash-list-items {
    padding-top: 25px;
  }*/
  .demo
  {
    display:none;
  }
  .navbar {
    margin-bottom:0px !important;
  }
 	.span_1_of_8 img {
    width: 65px;
    }
 .price_tagged {
      right: 7px;
      top: 49px;
           }
           .user_form{
    margin:10px;
}
}
@media (min-width: 600px) and (max-width:767px){
/*.mash-menu .mash-brand, .mash-menu .mash-list-items {
    padding-top: 25px;
  }*/
  .navbar {
    margin-bottom:0px !important;
  }
  
  .mash-menu .mash-search-bar li {
    padding: 14px !important;   
}
.span_1_of_8 img {
    width: 80px;
}
.price_tagged {
    
    right:8px;
    top: 79px;
    }
}
@media (min-width: 768px) and (max-width:991px){
   .mash-menu .mash-search-bar li {
    padding: 14px !important;   
}
     .mash-list-items > li {
    margin: -4px !important;
   }
		.price_tagged {
      right: 80px;
          right: 42px;
  }
   
}


@media (min-width: 992px) and (max-width:1199px)
 {
   .mash-list-items > li {
    margin: -4px !important;
   }
     .price_tagged {
        right:21px;
        top: 80px;
    }

}
@media (min-width: 1200px) and (max-width:1920px)
 {
     
  .banner > .item > img
  {
    max-width: 100%;
  }
}
