body {
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #676464;
    line-height: 1.471;
    background-color: #fff;
}
ul li
{
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    
    font-family: 'Open Sans', sans-serif;
}
h1
{
    font-size: 34px
}
h2 
{
     font-size:24px;
}
h3
{
    font-size:13px;  
}
h4
{
    font-size: 14px;
}
h5
{
    font-size:12px
}
h6
{
    font-size: 10px;
}
p
{
font-family: 'Open Sans', sans-serif;   
font-size: 13px;
}

a
{
   font-size: 12px;
    color:#3498db;
}
 a:hover, a:active {
    text-decoration: none !important;
}
:active,
:focus {
    outline: none !important;
}

.navbar-default {
    background-color: #008080;
    border-color: #008080;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;  
}
.navbar-default .navbar-brand {
    color: #fff;
}
.no-margin{
    margin-top:-20px;
}
.banner > .item > img
{
    display: block;
    max-width: 100%;
    height: 295px !important;
}

/*patner div css */
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.2
 */
/* clearfix */
.our-partner {
  
  padding: 15px;
  position: relative;
}
.our-partner .item {
  margin: 0px;
  overflow: hidden;
}
/*.our-partner .item img {
  width: 100%;
}
.our-partner .customNavigation .prev, .our-partner .customNavigation .next {
  position: absolute;
  top: 20%;
  font-size: 24px;
}
.our-partner .customNavigation .prev {
  left: -10px;
}
.our-partner .customNavigation .next {
  right: -10px;
}

.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
  float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}


.grabbing {
  cursor: url(../images/grabbing.png) 8 8, move;
}


.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}*/

.our-partner h2
{
     font-size: 24px;
    color: #008080;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

/*hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #3B9766;
}

hr.star-primary:after {
    color: #2E8E62;
    background-color: #fff;
}*/
.patner-slider
{
  margin-top: 18px;
}
.col:first-child {
    margin-left: 0;
}
.span_1_of_8 {
    width: 11.1%;
}
.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}
.siteimage {
    max-width: 90%;
    padding: 5%;
    margin: 0 0 1em 0;
    /* background: transparent url(/images/stripe-bg.png); */
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.our-partner .patnerimage img {
  width: 100%;
}
/* riken css */

/* bunjee content */
h1.bunjee{
    font-size: 20px;
    color: #fa2c38;
    font-weight: bold;
}
.for_margin{
    margin: 0 0 0 35px;
}
p.experience{
    text-transform: uppercase;
    font-weight: bold;
}
p.know_more{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
iframe { /* for bunjee video and trending activities videos */
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.help_button:hover{ /* for "lets help and share" button also */
    opacity: 0.8;
    color: #ffffff;
}
a.help_button{ /* for "lets help and share" button also */
    padding: 5px;
    color: #ffffff;
    background-color: #008080;
    font-weight: bold;
    font-size: 12px;
    border-radius: 0;
}
/* end bunjee content */

/* help and share content */
.slogan{
    margin-top: 30px;
}
.table-bordered{
    border: 2px solid #008080;
    padding: 10px;
}
.share_experience{
    color:#008080;
}
/* end help and share content */

/* trending activities content */
.trending_videos{
    margin:0 0 0 30px;
}
.embed-responsive-16by9{
    padding-bottom: 31% !important;
}
.activities_detail{
    margin-top: 20px;
}
.video_caption h3{
    color: #222;
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
/* end trending activities content */

/* riken css end */