body {
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #676464;
    line-height: 1.471;
    background-color: #fff;
}
ul
{
  padding:0;
}
ul li
{
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    
    font-family: 'Open Sans', sans-serif;
}
h1
{
    font-size: 34px
}
h2 
{
     font-size:24px;
}
h3
{
    font-size:13px;  
}
h4
{
    font-size: 14px;
}
h5
{
    font-size:12px
}
h6
{
    font-size: 10px;
}
p
{
font-family: 'Open Sans', sans-serif;   
font-size: 13px;
}

a
{
   font-size: 12px;
    color:#3498db;
}
 a:hover, a:active {
    text-decoration: none !important;
}
:active,
:focus {
    outline: none !important;
}

.navbar-default {
    background-color: #008080 !important;
    border-color: #008080 !important;
    border-radius:0% !important;
}

.no-margin{
    margin-top:-20px;
}
.banner > .item > img
{
    display: block;
    max-width: 100%;
    height: 295px !important;
}

/*patner div css */

/* 
 *  
 *  
 */
/* clearfix */
.our-partner {
  
  padding: 15px;
  position: relative;
}
.our-partner .item {
  margin: 0px;
  overflow: hidden;
}


.our-partner h2
{
     font-size: 24px;
    color: #008080;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}


.patner-slider
{
  margin-top: 18px;
}
.col:first-child {
    margin-left: 0;
}
.span_1_of_8 {
    width: 11.1%;
}
.span_1_of_8 img
{
  width:108px;
}
.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}
.siteimage {
    max-width: 90%;
    padding: 5%;
    margin: 0 0 1em 0;
    /* background: transparent url(/images/stripe-bg.png); */
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.our-partner .patnerimage img {
  width: 100%;
}

/*// slogan css start from here //*/
/* help and share content */
.slogan{
    margin-top: 30px;
}
.table-bordered{
    border: 2px solid #008080 !important;
    padding: 10px !important;
}
.share_experience{
    color:#008080;
    font-weight: bold;
}

.slogan h2
{
  color: #008080;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 9px;
  
}
/*span.slogan_title
{
  color: #fa2c38;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}
*/
.btn-primary
{
  background-color:#008080;
}
//*/attraction div css start form here ///*/
.activities
{
   color: #fa2c38;
    padding: 9px;
    margin-top: -16px;
}
 h2.activity_title
 {
  font-size: 19px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    color: #fa2c38;
    padding: 9px;
    margin-top: -16px;
    font-weight: 600;
     
}
.video_caption h3{
  color: #222;
  text-align: center;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.video_caption h3:hover
{
  color:#008080;
}
/*destination div css start */
.destination
{
  margin-top:20px;
}
h2.destination_title
 {
 font-size: 19px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    color: #fa2c38;
    padding: 9px;
    margin-top: -16px;
    font-weight: 600;
}
.place_detail{
  line-height: 0.8;
}

.place_detail h3{
  color: #222;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight:bold;
}
.place_detail h3:hover
{
  color:#008080;
}
.place_detail p{
  color: #777;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  
}

.list_image
{
  position: relative;
    /*width: 400px;
    height: 200px;*/
}
.price_tagged
{
 position: absolute;
    top: 82px;
    right: 10px;
    background:rgba(0, 128, 128, 0.670588);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 15px;
    text-align: center;
}
.price_tagged p
{
  color:#fff;
  font-size: 13px;
  font-family:'Open Sans', sans-serif;
  font-weight: bold; 
}


/*information_slider div css start */
/*.information_slider
{
  margin-top:20px;
}*/
h2.slider_title
 {
  font-size: 24px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #008080;
  padding: 9px;
  margin-top: -16px;
  text-align: center;
     
}
 h4.place_name  {
  color:#008080;
  font-size: 20px;
  font-weight: bold;
}
.media-body p
{
  font-family:'Open Sans', sans-serif;
  color: #777;
  font-size: 15px;
}


/* bunjee content */
h1.activity_name{
    font-size: 20px;
    color: #fa2c38;
    font-weight: bold;
}
.for_margin{
    margin: 0 0 0 35px;
}
p.experience{
    text-transform: uppercase;
    font-weight: bold;
}
p.know_more{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
iframe { /* for bunjee video and trending activities videos */
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
h1.trending_activities {
    font-size: 20px;
    color: #fa2c38;
    font-weight: bold;
}
a.help_button:hover{ /* for "lets help and share" button also */
    opacity: 0.8;
    color: #ffffff;
}
a.help_button{ /* for "lets help and share" button also */
    padding: 5px;
    color: #ffffff;
    background-color: #008080;
    font-weight: bold;
    font-size: 12px;
    border-radius: 0;
}
/* end bunjee content */


/* trending activities content */
.trending
{
  margin-bottom:24px;
}
.trending_videos{
    margin:0 0 0 30px;
}
.embed-responsive-16by9{
    padding-bottom: 31% !important;
}
.activities_detail{
    margin-top: 20px;
}

/* end trending activities content */

 /*places tab content*/
p.experience{
    text-transform: uppercase;
    font-weight: bold;
}
p.know_more{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.content {
    padding : 25px 0 0 0;
}

.tab-content {
    padding : 15px 25px;
    margin-top: 10px;
    border: 1px solid #D8E1C9;
    border-top: 0px;
    box-shadow: #808080 0 3px 6px 0;
}

a.place_details {
    color : white;
    background-color: #008080;
    font-size: 13px;
}

a.place_details:hover{
    color: #FFFFFF !important;
    background-color: #008080 !important;
    opacity: 0.6;
}

li.place_list{
    padding: 1px;
}
/*places tab content end*/
/*know more and history link*/
p.detail_title{
    text-transform: uppercase;
    font-weight: bold;
}
a.know_more p{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #008080;
}
a.history p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #222;
  }
a.know_more:hover{
    opacity: 0.6;
}
a.history p:hover{
     text-decoration: underline !important;
}
/*end know more and history link*/


/*user_experience_page*/
.user-reviews>.container>.row h2{
  color: #222;
  font-size: 24px !important;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight:bold;
}

.user_name h3{
  color: #222;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight:bold;
}

.user-review-right{
  text-align:right;
  font-style:italic;
}

.user_comment{
  font-weight:bold;
  margin-top:10%;
}
.user-experiences{
  /*border: 2px solid red;*/
}

/*.user-review-box{
    padding: 8px;
    margin-top: -19px;
}*/
.user-review-panel{
  margin:0 10px;
  box-shadow:#808080 0 3px 6px 0 !important;
}

textarea{
  resize: none;
}
.submit-button
{
  background:#008080 !important;
  margin-top:10px;
}
.media_padding{padding:0 15px;}
.comment_user_name{
  font-weight:bold;
}
.user_image{
  height:30px;
  width:38px;
}
img.user_profile
{
  width: 130px;
}


/*form_container div*/
.user_form{
    margin: 30px 0 0 0;
}

/*answer few questions heading*/
h1.qa_heading{
    font-size: 18px;
    color: #008080;
   
}

/*question_title div*/
.question_container{
    background-color: #008080;
}
.question_container:hover{
    opacity: 0.8;
}
h4.question_title{
    color: #fff;
    font-size: 16px;
}
.question_description{
    color: #222;
    font-size: 16px;
}

/*label and input css*/

.form-style label {
    display:block;
    font-weight: normal;
    color: #222;
}
.form-style input[type=text]
{
    font-family: "Open Sans", Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    color: #222;

}
.form-style input[type=text]
{
    background: transparent;
    border: none;
    border-bottom: 1px solid #008080 ;
    width: 100%;
    outline: none;

}
.form-style input[type=text]:focus
{
    border-bottom: 1px solid #A3CBEF ;
}

/*end label and input css*/

.image_container{
    /*margin-left: -20px;*/
}
.trip_image{
    height: 150px;
    width: 150px;
    margin-bottom: 5px;
}
.upload_title{
    font-size: 18px;
    
}

/*save button css*/

.form-style input[type=submit]{
    background-color: #008080;
    color: #fff;
    border-radius: 0px;
}
.form-style input[type=submit]:hover{
   opacity: 0.8;
    box-shadow: #808080 0 6px 19px 0;
}

/*end save button css*/

.upload_file::-webkit-file-upload-button {
    visibility: hidden;
}
.upload_file::before {
    content: 'Upload Image';
    display: inline-block;
    color: #fff;
    background: -webkit-linear-gradient(top, #008080, #008080);
    border-radius: 0px;
    padding: 5px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 10pt;
}
.upload_file:hover::before {
    border-color: black;
    opacity: 0.8;
    box-shadow: #808080 0 6px 19px 0;
}

/** footer **/
footer{
  background: #008080;
  padding: 30px 0;}
  
footer h3{
  color: #eee;
  font-size:18px;
  }

.footer-nav ul li a,
.footer-cnt p{
color: #c6c6c6;
font-size: 14px;
margin-left: 0px;
 -webkit-transition: margin 1s ease;
     -moz-transition: margin 1s ease;
       -o-transition: margin 1s ease;
      -ms-transition: margin 1s ease;
          transition: margin 1s ease;
          }

.footer-nav ul li a:hover
{
color:#ff9900;
font-weight: bold;
margin-left: -10px;
}
  
.footer-cnt p{
  line-height: 15px;}
  
.footer-top{
  margin-bottom: 15px;}
  
.footer-bottom p{
  text-align: center;
  font-size: 13px;
  color: #c6c6c6;
  }
  
  a.weblink
  {
    color:#222;
    font-size: 14px;
  }



